body{
    background: magenta;
    color: white;
    text-shadow: 1em 1em 1em grey;
    text-align: center;
}
h1{
    background-color: chartreuse;
}
h2{
    color: rgb(60, 60, 39);
    background-color: aqua;
}